aiohttp>=3.9,<4.0
Pillow
# don't use tray anymore in this fork
# pystray
# PyGObject<3.51; sys_platform == "linux" # required for better system tray support on Linux
validators

# environment-dependent dependencies
pywin32; sys_platform == "win32"
truststore
